@{
    // Make the container holding all the content be able to grow widely
    ViewBag.Unchained = true;

    // Pull in the extra CSS and Javascript which is needed for this page.
    ViewBag.BundlePrefix = "Index";
}

@* The guts of the view are all generated on the client via React. *@
<div id="react-root"></div>
