@{
    // Make the container holding all the content be able to grow widely
    ViewBag.Unchained = true;
}

@section head {
    <link rel="stylesheet" href="~/css/Home/Index.css">
}

@* Diary entry view/edit modal *@
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <input id="modal_title_edit" type="text" class="form-control" placeholder="New Entry">
                <h4 id="modal_title_view" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Date</label>
                    <input id="modal_date_edit" type="text" class="form-control">
                    <div id="modal_date_view" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input id="modal_location_edit" type="text" class="form-control">
                    <div id="modal_location_view" class="form-control"></div>
                </div>
                <div class="form-group">
                    <label>Entry</label>
                    <textarea id="modal_text_edit" class="form-control"></textarea>
                    <div id="modal_text_view" class="form-control"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="table_controls">
    <button href="javascript:;" class="btn btn-default">+</button>
    <input type="search" class="form-control" placeholder="Search">
</div>
<div id="table_target"></div>

@section scripts {
    <script src="~/js/Home/Index.js"></script>
    <script src="~/js/Home/EntryDialog.js"></script>
    <script src="~/js/Home/Util.js"></script>
    <script src="~/lib/tinymce/tinymce.js"></script>
}
