@{
    ViewBag.Title = "Success";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Please check your email for the password reset link. Note that an email can only be sent if you have previously confirmed your email address. 
    </p>
</div>
	
