@{
    ViewBag.Title = "Manage";

    // Make the container holding all the content be able to grow widely
    ViewBag.Unchained = true;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>[ @Html.ActionLink("Change your password", "ChangePassword") ]</dd>
        <dt>Delete:</dt>
        <dd>[ @Html.ActionLink("Delete your account", "DeleteAccount") ]</dd>
    </dl>
</div>
